{% extends 'base.html' %}

{% block title %}
    Detalhes de {{ student.name }}
{% endblock %}

{% block content %}
    <h1 class="mt-4 mb-4">Detalhes de {{ student.name }}</h1>

    {% if student %}

        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Cursos matriculados</th>
                            <th>Status</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in enrolled_courses %}
                        <tr>
                            <td>{{ data.course.name }}</td>
                            <td>{{ data.status }}</td>
                            <td><span class="text-muted small">{{ data.course.enrollment_fee }}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body fw-bold py-2">Totais (pago + pendente)</div>
                        <div class="card-footer d-flex align-items-center justify-content-center py-2">
                            <p class="text-white m-0 p-0 fs-4">R$ {{ total }}</p>
                        </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="alert alert-warning text-center" role="alert">
            <i class="fas fa-exclamation-triangle me-2"></i>
            <strong>Atenção!</strong> Nada foi encontrado.
        </div>
    {% endif %}

{% endblock %}