{% extends 'base.html' %}

{% block title %}
    Lista de Alunos
{% endblock %}

{% block content %}
    <h1>Lista de Estudantes</h1>

    {% if students %}
    <table>
        <thead>
            <tr>
                <th >Nome</th>
                <th >Email</th>
                <th >CPF</th>
                <th >Data de Ingresso</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td >{{ student.name }}</td>
                <td >{{ student.email }}</td>
                <td >{{ student.cpf }}</td>
                <td >{{ student.admission_date|date:"d/m/Y H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nenhum aluno encontrado.</p>
    {% endif %}

{% endblock %}